[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
[submodule "scikit-misc"]
	path = scikit-misc
	url = https://github.com/has2k1/scikit-misc.git
[submodule "gfortran-install"]
	path = gfortran-install
	url = https://github.com/MacPython/gfortran-install
[submodule "numpy-distutils"]
	path = numpy-distutils
	url = git@github.com:numpy/numpy.git
